.footer {
    background-color: $color-gray-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-gray-light-2;

    @include respond(tab-port) {
        padding: 8rem 0;
    }
    
    &__logo-box {        
        text-align: center;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            margin-bottom: 4rem;
        }
    }
    
    &__logo {
        height: auto;
        width: 15rem;
    }
    
    &__navigation {
        display: inline-block;
        border-top: 1px solid $color-gray-dark;
        padding-top: 2rem;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }

    }
    
    &__list {
        list-style: none;
    }
        
    &__item {
        display: inline-block;
        

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }   
    
    &__link {
        &:link,
        &:visited {
            background-color: $color-gray-dark-3;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            color: $color-gray-light-2;
            transition: all .2s;
        }
        
        &:hover,
        &:active {
            
            color: $color-primary;
            box-shadow: 0 1 rem 2rem rgba($color-black, .8);
            transform: rotate(5deg) scale(1.3);
        }
    }
    
    &__copyright {
        display: inline-block;
        border-top: 1px solid $color-gray-dark;
        padding-top: 2rem;
        float: right;
        width: 80%;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }
}