.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;    
        padding: 1.5rem 4rem;
        border-radius: 10rem; 
        transition: all 2s;
        position: relative;
        display: inline-block;
        box-shadow: 0 .5rem 2rem rgba($color-black, 0.2);
        font-size: $default-font-size;
        transition: all 0.2s;
        
        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        box-shadow: 0 .5rem 2rem rgba($color-black, 0.3);
        transform: translateY(-.5rem);
        outline: none;
    }

    &:active,
    &:focus {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.45);
        transform: translateY(-.1rem);
    }
    
    &--white {
        color: $color-gray-dark;
        background-color: $color-white;
    }
    
    &--green {
       color: $color-white;
       background-color: $color-primary; 
    }
}



.btn-text {

    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
        padding: 3px;
        font-size: $default-font-size;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        transition: all .2s;
    }

    &:hover {    
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }


    &:active {
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }
}

