.card {
    
    //FANCTIONALITY
    perspective: 150rem;
    -moz-perspective: 1500rem;
    position: relative;
    height: 52rem;
    
    &__side {      
        font-size: 2rem;
        height: 52rem;
        transition: all 0.8s ease;        
        width: 100%;        
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        
        &--front {
            background-color: $color-white;
            
        }
        
        &--back {                                  
            transform: rotateY(180deg);
             
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    
     &:hover &__side--back {
        transform: rotateY(0);
    }
    
    //FRONT SIDE STYLING
    &__picture {
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);        

        &--1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
            
            @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (-webkit-mix-device-pixel-ratio: 2) and (min-width: 37.5em),
            (min-width: 2000px) {
                background-image: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, 0.8), 
                rgba($color-secondary-dark, 0.8)),
                url(../img/nat-5-large.jpg);
            }
        }
        
        &--2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
            
            @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (-webkit-mix-device-pixel-ratio: 2) and (min-width: 37.5em),
            (min-width: 2000px) {
                background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8), 
                rgba($color-primary-dark, 0.8)),
                url(../img/nat-6-large.jpg);
            }
        
        }
        
        &--3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
            
            @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (-webkit-mix-device-pixel-ratio: 2) and (min-width: 37.5em),
            (min-width: 2000px) {
                background-image: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, 0.8), 
                rgba($color-tertiary-dark, 0.8)),
                url(../img/nat-7-large.jpg);
            }
        
        }
    }
        
    &__heading {
        position: absolute;
        top: 11.5rem;
        right: 2rem;
        text-align: right;
        text-transform: uppercase;
        color: $color-white;
        font-size: 2.8rem;
        font-weight: 300;        
        width: 75%;        
        
    }
    
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
            
        &--1 {background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        
        &--2 {background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));            
        }
        
        &--3 {background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));            
        }
        
    }
    
    &__detailes {
        padding: 3rem;
        
        & ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            
            & li {
                text-align: center;
                font-size: 1.5rem;                
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom:  1px solid $color-gray-light-2;
                }
                
            }    
        }
        
    }
    
    //BACK SIDE STYLING
    
    &__cta {
        text-align: center;
        width: 90%;       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__price-box {
        color: $color-white;
        margin-bottom: 8rem;
        text-align: center;
    }
    
    &__price-only {       
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    &__price-value {
        font-size: 6rem;
        font-weight: 100;     
        
    }

    //@include respond(tab-port) {
    @media  only screen and (max-width: 56.25em),
            only screen and (hover: none) {
        
                height: auto;
                border-radius: 3px;
                background-color: $color-white;
                box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

                &__side {    
                    height: auto;      
                    position: relative;
                    box-shadow: none;

                    &--back {                                  
                        transform: rotateY(0);
                        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                    }
                }

                &:hover &__side--front {
                    transform: rotateY(0);
                }

                &__details {
                    padding: 1rem 3rem;
                }

                &__cta {
                    width: 100%;       
                    position: relative;
                    top: 0;
                    left: 0;
                    transform: translate(0);
                    padding: 7rem 4rem 4rem 4rem;
                }

                &__price-box {
                    margin-bottom: 3rem;
                }


                &__price-value {
                    font-size: 4rem;
                }
            }
}


