.composition {
    position: relative;   
    
        
    &_photo {
        width: 55%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        transition: all .2s;
        z-index: 0;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }
        
        
        &--p1 {
            top: -2rem;
            left: 0;

            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);    
            }
        }

        &--p2 {
            top: 2rem;
            right: 0;

            @include respond(tab-port) {
                top: -1rem;  
                transform: scale(1.3); 
                z-index: 100; 
            }
        }

        &--p3 {
            top: 10rem;
            left: 20%;

            @include respond(tab-port) {
                top: 1rem; 
                left: 0;  
                transform: scale(1.1); 
            }
        }
        
        &:hover{
            transform: scale(1.05) translateY(-1rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 1;
            outline: 1.5rem solid $color-primary;
            outline-offset: 2rem;
        }            
    }
    &:hover &_photo:not(:hover) {
        transform: scale(0.95);
        
    }
}