  .feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;    
    text-align: center;
    border-radius: 3px;    
    padding: 2.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    @include respond(tab-port) {
      padding: 2rem;
    }
   
      
      &:hover {
          transform: translateY(-1.5rem) scale(1.03);
      }
        
    &__icon {
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 6rem;
        display: inline-block;

        @include respond(tab-port) {
          margin-bottom: 0;

        }
        
        
    } 
  
}
