.popup {
	background-color: rgba($color-black, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 4000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s;
	transition: all .3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
    
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, 0.3);
    }


	&__content {
		@include absCenter;
		background-color: $color-white;
		width: 75%;
		-webkit-box-shadow: 0 2rem 4rem rgba($color-black, .2);
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 3px;
		display: table;
		overflow: hidden;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(.25);
		transform: translate(-50%, -50%) scale(.25);
		-webkit-transition: all 0.4s .2s;
		transition: all 0.4s .2s;
		
		@include respond(tab-port) {
			width: auto;
		}
	}

	&__left {
		width: 33.33333%;
		display: table-cell;
		vertical-align: middle;

		@include respond(tab-land) {
			display: inline;
		}
	}

	&__right {
		width: 66.66667%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;

		@include respond(tab-land) {
			display: inline-block;
			width: 100%;
		}

	}

	&__img {
		display: block;
		width: 100%;

	@include respond(tab-land) {
		display: inline-block;
		width: 44%;
    	margin: 1rem;
		}
		   
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;

		-moz-column-count: 2;
		-moz-column-gap: 4rem;
		-moz-column-rule: 1px solid $color-gray-light-2;
		-webkit-column-count: 2;
		        column-count: 2;
		-webkit-column-gap: 4rem;
		        column-gap: 4rem;
		-webkit-column-rule: 1px solid $color-gray-light-2;
		        column-rule: 1px solid $color-gray-light-2;

		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;

		@include respond(tab-land) {
			column-count: auto;
		}

	}

/*Open states*/

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(1);
		        transform: translate(-50%, -50%) scale(1);
	}

	&__close {
		&:link,
		&:visited {
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			color: $color-gray-dark-3;
			line-height: 1;
		}
		
		&:hover {
			color: $color-primary;
		}
	}
}