*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;    
}
html {
    font-size: 62.5%; /*1rem=10px*/

    @include respond(tab-land) {font-size: 56.25%;} /*width <1200?*/
    @include respond(tab-port) {font-size: 50%;}    /*width <900?*/
    @include respond(big-desktop) {font-size: 75%;}
}

body {
	padding: 3rem; 
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	
	@include respond(tab-port) {padding: 0;}
}

::selection {
    background-color: $color-primary;
    color: $color-white;
    
}