body {
    font-family: "Lato", sans-serif;
    font-weight: 400;    
    line-height: 1.7;
    color: $color-gray-dark;
       
}

.heading-primary {    
    
    margin-bottom: 6rem;
    text-transform: uppercase;
    color: $color-white;
   
    &--main {    
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        -webkit-animation: moveInLeft 1s ease-out;
                animation: moveInLeft 1s ease-out; 

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }

    }

    &--sub {
        display: block; 
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1.7rem; 

        @include respond(phone) {
            letter-spacing: .5rem;
        } 
    }
}

.heading-secondary {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.5rem;
        background-image: -webkit-gradient(linear, left top, right top, from($color-primary-light), to($color-primary-dark));
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        -webkit-transition: all .2s;
        transition: all .2s;

        @include respond(tab-port) {
            font-size: 3rem;
        }

        @include respond(phone) {
            font-size: 2.5rem;
        }
        
    &:hover {
        -webkit-transform: skewy(2deg) skewX(15deg) scale(1.1);
                transform: skewy(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

}

.heading-tertiary {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $default-font-size;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}